ORACLE_USER=rawdata
ORACLE_PASSWORD=rawdata
ORACLE_DSN=192.168.96.97:1521/OASIPDB

ENVIRONMENT_NAME=dev
DESIRED_STATE_PATH=registry/desired_state.json

PREPARE_SOURCE_EXECUTOR=OGG_REST_SKELETON
PREPARE_SOURCE_MODE=DRY_RUN

ATTACH_EXTRACT_EXECUTOR=OGG_REST_SKELETON
ATTACH_EXTRACT_MODE=DRY_RUN

INITIAL_LOAD_EXECUTOR=SCRIPT
INITIAL_LOAD_MODE=SCRIPT
INITIAL_LOAD_SCRIPT_COMMAND=python scripts/mock_initial_load_runner.py {request} {response}
INITIAL_LOAD_SCRIPT_TIMEOUT_SEC=3600

INSTANTIATION_EXECUTOR=DRY_RUN
INSTANTIATION_MODE=DRY_RUN

ATTACH_REPLICAT_EXECUTOR=OGG_REST_SKELETON
ATTACH_REPLICAT_MODE=DRY_RUN

ACTIVATION_EXECUTOR=DRY_RUN
ACTIVATION_MODE=DRY_RUN

OGG_REST_BASE_URL=http://192.168.96.119:9010
OGG_REST_USERNAME=ggadmin
OGG_REST_PASSWORD=1q2w3e!Q@W#E
OGG_REST_DEPLOYMENT_NAME=GG-01
OGG_REST_VERIFY_SSL=false
OGG_REST_MODE=OGG_REST_SKELETON
OGG_REST_CONNECTION=OracleGoldenGate
TRANDATA_SCOPE=TABLE

ALLOW_REAL_PREPARE_SOURCE=false









SOURCE_DB_CONNECT_STRING=source_user/source_user@//192.168.96.100:1521/SRCPDB
TARGET_DB_CONNECT_STRING=rawdata/rawdata@//192.168.96.97:1521/OASIPDB
DATAPUMP_NETWORK_LINK=source_link
DATAPUMP_DIRECTORY=DATA_PUMP_DIR
INITIAL_LOAD_REQUIRE_EMPTY_TARGET=true
DATAPUMP_DEFAULT_PARALLEL=1



OGG_ADMIN_URL=http://192.168.96.119:9010
OGG_ADMIN_DEPLOYMENT=GG-01
OGG_ADMIN_USER=ggadmin
OGG_ADMIN_PASSWORD=secret
OGG_ADMINCLIENT_PATH=adminclient

OGG_PARAM_DIR=/u01/app/OGG21MA/DEPLOYMENTS/GG-01/var/lib/param
OGG_TEMP_DIR=/u01/app/OGG21MA/DEPLOYMENTS/GG-01/var/temp

OGG_SOURCE_USERID=source_user@//192.168.96.100:1521/SRCPDB
OGG_SOURCE_PASSWORD=source_user

OGG_TARGET_USERID=rawdata@//192.168.96.97:1521/OASIPDB
OGG_TARGET_PASSWORD=rawdata